<footer class="footer">
    <!-- <div class="separetor">
        <div class="dot"></div>
        <div class="line"></div>
        <div class="dot"></div>
    </div> -->
    <div class="info lato-regular">
        <div class="contacts">
            <a href=""><i class="fas fa-envelope"></i>  info&#64;studiofoto.it</a>
        </div>
        <div class="social-box">
            <div class="social button-ig">
                <div class="social-icon">
                    <a class="" href="" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="social button-tk">
                <div class="social-icon">
                    <a class="" href="" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                </div>
            </div>
            <div class="social button-yt">
                <div class="social-icon">
                    <a class="" href="" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="copy lato-bold">© 2024. Developed by <a href="https://lucapuglisiwebdeveloper.it" target="_blank">Luca Puglisi</a>. All right reserved.</p>
</footer>