<footer class="footer">
    <!-- <div class="separetor">
        <div class="dot"></div>
        <div class="line"></div>
        <div class="dot"></div>
    </div> -->
    <div class="info lato-regular">
        <div class="contacts">
            <a href="mailto:info@lucapuglisiwebdeveloper.it"><i class="fas fa-envelope"></i>  info&#64;lucapuglisiwebdeveloper.it</a>
        </div>
        <div class="social">
            <i (click)="openLink('https://www.linkedin.com/in/luca-puglisi-97aabb124/')" class="fab fa-linkedin"></i>
        </div>
    </div>
    <p class="copy lato-bold">© 2024. Developed by Luca Puglisi. All right reserved.</p>
</footer>