@import "../../../variables.scss";

.scatti-grid{
    padding-top: 2rem;
    max-width: 800px;
    //height: fit-content;
    margin: auto;
    //background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.scatto-box{
    width: 200px;
    height: 180px;
    cursor: pointer;
}
.scatto-box img{
    border-radius: inherit;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
}
.scatto-box:hover{
    img.roll-y{
        transform: rotateY(360deg);
    }
    img.roll-x{
        transform: rotateX(360deg);
    }
}