<section name="chi_sono" class="chi-sono-box lato-regular tag chi-sono-tag">
    <h4 class="section-head lato-regular">Su di me</h4>
    <div class="chi-sono">
        <div class="chi-sono-img">
            <img src="../../../assets/images/profile.jpg" alt="">
        </div>
        <div class="chi-sono-text">
            <h3 class="lato-bold blue">Ciao a tutti!</h3>
            <!-- <h3 class="lato-light yellow">Content Creator e Youtuber</h3> -->
            <p class="lato-regular">
                Lorem ipsum dolor sit amet.<br />Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas
                doloremque reprehenderit quasi quisquam repellendus reiciendis voluptatibus, quidem molestias tempore!
                Perspiciatis facere vero consequuntur vitae ipsam fuga eveniet voluptates quidem quia.
            </p>
            <p class="lato-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas
                doloremque reprehenderit quasi quisquam repellendus reiciendis voluptatibus, quidem molestias.
            </p>
            <p class="lato-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas
                doloremque reprehenderit quasi quisquam repellendus reiciendis voluptatibus, quidem molestias tempore!
                Perspiciatis facere vero consequuntur vitae ipsam fuga eveniet voluptates quidem quia.
            </p>
            <button class="button lato-bold" (click)="contattami('contatti')">Contattami</button>
        </div>
    </div>

</section>