<app-header></app-header>
<div name="home" class="main-container">
  <div class="presentation">
    <div class="presentation-desc lato-regular">
      <h2 class="lato-bold">Benvenuti!</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio provident soluta ut ex placeat, iusto officia
        culpa laboriosam reiciendis consectetur id, unde consequatur totam fuga? Quaerat illum voluptatem veniam
        maiores.
      </p>
    </div>
  </div>
  <button class="button lato-bold contattami" (click)="contattami('contatti')">Contattami</button>
</div>
<app-specialita></app-specialita>
<app-ultimi-scatti></app-ultimi-scatti>
<app-chi-sono></app-chi-sono>
<app-contatti></app-contatti>
<app-footer></app-footer>
<button class="scroll-top" (click)="scrollTop()"><i class="fas fa-chevron-up"></i></button>
<div class="side-menu">
  <div class="link-box lato-bold">
    <p (click)="goTo('home')" class="nav-link active">Home</p>
    <p (click)="goTo('specs')" class="nav-link">Specialità</p>
    <p (click)="goTo('ultimi-scatti')" class="nav-link">Ultimi scatti</p>
    <p (click)="goTo('chi_sono')" class="nav-link">Chi Sono</p>
    <p (click)="goTo('contatti')" class="nav-link">Contattami</p>
  </div>
  <div class="social-head">
    <p class="lato-bold">Seguimi su</p>
    <div class="social-box">
      <div class="social button-ig">
          <div class="social-icon">
              <a class="" href="" target="_blank">
                  <i class="fab fa-instagram"></i>
              </a>
          </div>
      </div>
      <div class="social button-tk">
          <div class="social-icon">
              <a class="" href="" target="_blank">
                  <i class="fab fa-tiktok"></i>
              </a>
          </div>
      </div>
      <div class="social button-yt">
          <div class="social-icon">
              <a class="" href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </div>
      </div>
  </div>
  </div>
</div>