@import "../variables.scss";

.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/images/bg.jpeg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $font-color;
}
.presentation {
    width: 100%;
    height: 100%;
}
.title{
    position: absolute;
    top: 0;
    right: 15%;
    //transform: translate(-50%, 0);
    font-size: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.presentation-desc {
    opacity: 0;
    width: 40%;
    top: 50%;
    left: 2rem;
    transform: translate(-100%, 0);
    text-align: center;
    position: absolute;
    backdrop-filter: blur(2px);
    background-color: #37373728;
    color: $font-color;
    padding: 3rem 3.5rem;
    border-radius: 5px;
    //box-shadow: 5px 5px 15px #ca2b901d;
    transition: all 1s ease-in-out;
}

.presentation-desc h2 {
    margin-bottom: 1rem;
}
.scroll-top {
    position: fixed;
    display: inline;
    bottom: 4rem;
    right: -5rem;
    width: 3rem;
    height: 3rem;
    background-color: $secondary-color;
    z-index: 1000;
    border: none;
    color: $background;
    filter: brightness(1);
    transition: all 0.3s;
    cursor: pointer;
}
.scroll-top:hover {
    filter: brightness(1.5);

    // width: 2.85rem;
    // height: 2.85rem;

}
.contattami{
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    width: 220px;
}
.social-head p{
    text-align: center;
}
@media screen and (min-width: 851px) and (max-width:1080px) {
    .title{
        right: 5%;
    }
}
@media screen and (max-width: 850px) {
    .scroll-top {
        bottom: 10rem;
    }

    .presentation {
        width: 80%;
    }

    .presentation-desc {
        left: 0;
        top: 50%;
        width: 100%;
        padding: 3rem 0;
    }
    .slider h2 {
        font-size: 120px;
    }
    .contattami{
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
    }
    .title{
        right: 50%;
        transform: translate(50%, 0);
        font-size: 36px;
        width: 100%;
        text-align: center;
    }
}