<div name="specs" class="section-box lato-regular tag">
    <h4 class="section-head lato-regular">Specialità</h4>
    <div class="specs-container">
        <div class="specs-box">
            <div class="specs spec1">
                <h3>Matrimoni</h3>
            </div>
            <div class="specs spec2">
                <h3>Natura</h3>
            </div>
            <div class="specs spec3">
                <h3>Ritratti</h3>
            </div>
            <div class="specs spec4">
                <h3>Animali</h3>
            </div>
        </div>
    </div>
</div>