<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>

<body>
    <div style="width: 80%; margin: auto; padding: 2rem 0;">
        <h1>
            Privacy Policy
        </h1>
        <h2>
            Introduzione
        </h2>
        <h4>
            La presente Privacy Policy descrive le modalità di raccolta, utilizzo e protezione dei dati personali degli
            utenti (di seguito "Utenti") del sito web www.lucapuglisiwebdeveloper.it (di seguito "Sito"). La presente
            informativa è redatta ai sensi del Regolamento (UE) 2016/679 (GDPR).
        </h4>
        <h3>
            1. Titolare del Trattamento dei Dati
        </h3>
        <p>
            Il titolare del trattamento dei dati è Luca Puglisi, con sede in Via Comandante Todaro 24, 98026 Nizza di
            Sicilia (ME), e-mail: info@lucapuglisiwebdeveloper.it.
        </p>
        <h3>
            2. Tipi di Dati Raccolti
        </h3>
        <p>
            Il Sito raccoglie i seguenti dati personali: <br>
        <ul>
            <li>
                Dati di contatto (nome, email, numero di telefono, ecc.) forniti volontariamente dall'Utente tramite
                moduli
                di
                contatto.
            </li>
        </ul>
        </p>
        <h3>
            3. Finalità del Trattamento dei Dati
        </h3>
        <p>
            I dati personali degli Utenti possono essere trattati per le seguenti finalità: <br>
        <ul>
            <li>
                Rispondere a richieste di informazioni o supporto.
            </li>
            <li>
                Fornire i servizi richiesti dall'Utente.
            </li>
        </ul>
        </p>
        <h3>
            4. Base Giuridica del Trattamento
        </h3>
        <p>
            Il trattamento dei dati personali si basa sulle seguenti basi giuridiche: <br>
        <ul>
            <li>
                Consenso dell'Utente.
            </li>
            <li>
                Esecuzione di un contratto di cui l'Utente è parte.
            </li>
        </ul>

        </p>
        <h3>
            5. Modalità del Trattamento
        </h3>
        <p>

            Il trattamento dei dati personali degli Utenti avviene mediante strumenti manuali e informatici, con logiche
            strettamente correlate alle finalità indicate, e in modo da garantire la sicurezza e la riservatezza dei
            dati
            stessi.
        </p>
        <h3>
            6. Conservazione dei Dati
        </h3>
        <p>
            I dati personali saranno conservati per il tempo strettamente necessario a conseguire le finalità per cui
            sono
            stati raccolti, nel rispetto dei termini legali e contrattuali.
        </p>
        <h3>
            7. Comunicazione dei Dati
        </h3>
        <p>
            I dati personali degli Utenti non saranno comunicati a terzi, salvo che ciò sia necessario per ottemperare a
            obblighi di legge.
        </p>
        <h3>
            8. Diritti degli Utenti
        </h3>
        <p>
            Gli Utenti hanno il diritto di: <br>
        <ul>
            <li>
                Accedere ai propri dati personali.
            </li>
            <li>
                Richiedere la rettifica o la cancellazione dei propri dati.
            </li>
            <li>
                Opporsi al trattamento dei dati.
            </li>
            <li>
                Richiedere la limitazione del trattamento dei dati.
            </li>
            <li>
                Richiedere la portabilità dei dati.
            </li>
            <li>
                Revocare il consenso in qualsiasi momento.
            </li>
            <li>
                Le richieste possono essere inviate al titolare del trattamento ai recapiti sopra indicati.
            </li>
        </ul>

        </p>

        <h3>
            9. Modifiche alla Privacy Policy
        </h3>
        <p>
            Il titolare del trattamento si riserva il diritto di apportare modifiche alla presente Privacy Policy in
            qualsiasi momento. Le modifiche saranno comunicate agli Utenti tramite il Sito.
        </p>
        <h3>
            10. Contatti
        </h3>
        <p>
            Per qualsiasi domanda o richiesta riguardante la presente Privacy Policy, gli Utenti possono contattare il
            titolare del trattamento ai seguenti recapiti: <br>
        <ul>
            <li>
                Luca Puglisi
            </li>
            <li>
                Via Comandante Todaro 24, 98026 Nizza di Sicilia (ME)
            </li>
            <li>
                Email: info@lucapuglisiwebdeveloper.it
            </li>
        </ul>
        </p>
    </div>
</body>

</html>